
.modal-title {
 
  margin: 0 auto;
}
h3 {
  color: #1869d9;
}
.log_form-container {
  background: #CCCDC0;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
  width: 200px;
  margin-left:300px;
}


.modal-content {
  width: 300px;
  height: 400px;

  border-radius: 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 10px 0px #000;
}
.modal-dialog {
  
  border: 0px !important;
}
.margin_top{
  margin-top:20px;
}
